html{
    font-size: 64%;
}

body {
    margin: 0;
}
  
h1{
    color: white;
}






/*////////////////////////////////////////////// MENU INICIAL ///////////////////////////////// */


.headerBody{
    position: fixed;
    margin: 0;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: rgba(240, 248, 255, 0);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.228);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
    .headerCard{
        display: flex;
        flex-direction: row;
        width: 90%; 
        align-items: center;
        justify-content: space-around;
        
    }
        .headerCard h1{
            color: white;
            cursor: pointer;
            font-size: 3rem;
        }
        .headerCard ul{
            display: flex;
            align-items: center;
            margin: 0;
        }
            .headerCard h2{
                font-size: 1.7rem;
                color: white;
                text-align: center;
                cursor: pointer;
                margin-right: 2vw;
            }
        .menuBtn{
            display: none;
        }
.menuMobileBody{
    display: none;
}
    .closeMenuBtn{
        display: none;
    }
        
@media (max-width: 1036px) {
    html {
        font-size: 50%;
    }
}
@media (max-width: 827px) {
    /* html {
        font-size: 40%;
    } */
    .headerCard{
        width: 95%;
    }
}
@media (max-width: 780px) {
    
    .headerCard{
        width: 98%;
    }
}

@media (max-width: 768px) {
  .headerCard ul{
    display: none;
  }
  .menuBtn{
    position: absolute;
    right: 40px;
    display: block  ;
    width: 30px;
    height: 30px;
    color: white;
  }
  .closeMenuBtn{
    position: absolute;
    display: block  ;
    right: 40px;
    margin-top: -90vh;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 15px;
    color: white;
    font-size: 3rem;
    text-align: center;
  }

  .menuMobileBody{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 200vh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    z-index: 10;
  }
  .menuMobileBody ul{
    position: absolute;
    display: block;
    width: 40%;
    height: 50vh;
    z-index: 11;
  }

  .menuMobileBody h2 {
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    color: black;
    z-index: 12;
  }
}



















.appBody{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    /* background-image: url('../contents/images/backgrounds/3.jpg');
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat; */
    background-color: rgb(23, 22, 21);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;
}
    .sobreMinBody{
        top: 0;
        margin-top: 30vh;
        position: absolute;
        left: 3vw;
        width: 50%;
        height: 50vh;
        backdrop-filter: blur(20px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
    }
    
        .sobreMinBody .nome{
            margin-bottom: 0px;
            font-size: 1.8rem;
            color: white;
            text-align: center;
        }
        .sobreMinBody h2{
            margin-top: 0px;
            font-size: 2.5rem;
            color: white;
            text-align: center;
        }

        .sobreMinBody .text{
            margin: 0;
            font-size: 1.8rem;
            color: white;
            text-align: justify;
        }
        .sobreMinBody .textSaibaMais{
            
            margin: 0;
            font-size: 1.4rem;
            color: white;
            text-align: center;
            border-bottom: 1px solid white;
            cursor: pointer;
        }
        
    .textoAnimado1Body{
        top: 30vh;
        position: absolute;
        margin: 0;
        padding: 0;
        right: 0px;
        width: 48%;
        height: 50vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
        .textoAnimado1Body p{
            color: white;
            font-size: 6rem;
        }    
        .textoAnimado1Body span{
            margin-left: 12vw;
            position: relative;
            color: orangered;
            font-size: 6rem;
            
        }  
        /* @media (max-width: 528px){
            // Mudar, colocar frase com animação acima do meu nome e texto ambos centralizados
        }  */
        .textoAnimado1Body span::before{
            content: "";
            animation: palavras 21s infinite;
            text-align: center;
        }  
        .textoAnimado1Body span::after{
            content: "";
            position: absolute;
            height: 7.5rem;
            border-left: 2px solid orangered;
            right: -10px;
            opacity: 1;
            animation: cursor .8s infinite, digitando 21s steps(15) infinite;
            width: calc(100% + 18px);
            background-color: rgb(23, 22, 21);
        }  
        
        @keyframes digitando{
            10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
                width: 0;
            }
            5%,20%,25%,40%,45%,60%,65%,80%,85%{
                width: calc(100% + 18px);
            }
        }

        @keyframes cursor{
            0%{
                border-left: 2px solid rgb(23, 22, 21);
            }
        }
        @keyframes palavras {
            0%,20%{
                content: " já Inovou?";
            }
            21%,40%{
                content: " deseja crescer?";
            }
            41%,60%{
                content: "quer continuar vencendo?";
                font-size: 4.8rem;
                
            }
            61%,80%{
                content: " Acredita no seu sonho?";
            }
            81%, 100%{
                content: " vamos fazer isto juntos!";
                font-size: 5rem;
            }
        } 

        
        
        
    .habilidadesBody{
        margin-top: 7vh;
        margin-bottom: 200px;
        height: 60vh;
        width: 80%;/* 
        background-color: rgba(240, 248, 255, 0.084);
        backdrop-filter: blur(20px); */
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        border-radius: 20px;
    }
        .habilidadesCard{
            margin: 50px;
        }
        
        .habilidadesCard h2{
            color: black;
            font-size: 2rem;
            text-align: center;
        }
        .habilidadesCard p{
            color: black;
            font-size: 2rem;
            text-align: center;
        }

    .habilidadesImagens{
        margin-top: 5vh;
        margin-bottom: 10vh;
        width: 90%;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
        .habilidadesImagens .imagem{
            background-image: url('../contents/images/conhecimentos/teste.jpg');
            background-size: cover; 
            background-position: center center;
            background-repeat: no-repeat;
            width: 45%;
            height: 80vh;
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.68);
        }
        .habilidadesImagens .imagem h2{
            position: absolute;
            margin-left: 15% ;
            margin-top: 30px;
            text-align: center;
            font-size: 6.5rem;
            color: white;
            font-weight: bolder;
            font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            z-index: 3;
            text-shadow: 1px 5px 10px rgb(0, 0, 0);
        }
    .filtro{
        position: absolute;
        width: 40.5%;
        height: 80vh;
        opacity: .1;
        transition: .3s ease-out;
    }
    .filtro:hover{
        position: absolute;
        width: 40.5%;
        height: 80vh;
        backdrop-filter: blur(20px);
        opacity: 1;
        z-index: 1;
    }


        

        @media (max-width: 500px){
            .textoAnimado1Body {
                top: 28vh;
                left: 0;
                right: 0;
                width: 95%;
                height: 10vh;
                display: flex;
                align-items: center;
                
            }
            .textoAnimado1Body span{
                font-size: 3rem;
            }
            .textoAnimado1Body span::after{
                height: 6rem;
            }
            .sobreMinBody{
                margin-top: 35vh;
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .habilidadesBody{
                justify-content: space-between;
                width: 100%;
            }
        }