/* /////Trabalhando direto no html */
html{
    font-size: 64%;
}

body {
    margin: 0;
}
  
h1{
    color: white;
}






/*////////////////////////////////////////////// MENU INICIAL ///////////////////////////////// */


.headerBody{
    position: fixed;
    margin: 0;
    top: 0;
    width: 100%;
    height: 10svh;
    background-color: rgba(240, 248, 255, 0);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.228);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
    .headerCard{
        display: flex;
        flex-direction: row;
        width: 90%; 
        align-items: center;
        justify-content: space-around;
        
    }
        .headerCard h1{
            color: white;
            cursor: pointer;
            font-size: 3rem;
        }
        .headerCard ul{
            display: flex;
            align-items: center;
            margin: 0;
        }
            .headerCard h2{
                font-size: 1.7rem;
                color: white;
                text-align: center;
                cursor: pointer;
                margin-right: 2vw;
            }
        .menuBtn{
            display: none;
        }
.menuMobileBody{
    display: none;
}
    .closeMenuBtn{
        display: none;
    }
        



/* /// RESTO DO SITE */


.appBody{
    margin: 0;
    width: 100%;
    min-height: 100svh;
    /* background-image: url('../contents/images/backgrounds/3.jpg');
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat; */
    background-color: rgb(23, 22, 21);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;
}
    .sobreMinBody{
        top: 0;
        margin-top: 30svh;
        position: absolute;
        left: 3vw;
        width: 50%;
        height: 50svh;
        backdrop-filter: blur(20px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
    }
    
        .sobreMinBody .nome{
            margin-bottom: 0px;
            font-size: 1.8rem;
            color: white;
            text-align: center;
        }
        .sobreMinBody h2{
            margin-top: 0px;
            font-size: 2.5rem;
            color: white;
            text-align: center;
        }

        .sobreMinBody .text{
            margin: 0;
            font-size: 1.8rem;
            color: white;
            text-align: justify;
        }
        .sobreMinBody .textSaibaMais{
            
            margin: 0;
            font-size: 1.4rem;
            color: white;
            text-align: center;
            border-bottom: 1px solid white;
            cursor: pointer;
        }
        
    .textoAnimado1Body{
        top: 30svh;
        position: absolute;
        margin: 0;
        padding: 0;
        right: 0px;
        width: 48%;
        height: 50svh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
        .textoAnimado1Body p{
            color: white;
            font-size: 5rem;
        }    
        .textoAnimado1Body span{
            margin-left: 12vw;
            position: relative;
            color: orangered;
            font-size: 5rem;
            
        }  
        
      
        .textoAnimado1Body span::before{
            content: "";
            animation: palavras 21s infinite;
            text-align: center;
        }  
        .textoAnimado1Body span::after{
            content: "";
            position: absolute;
            height: 7.5rem;
            border-left: 2px solid orangered;
            right: -10px;
            opacity: 1;
            animation: cursor .8s infinite, digitando 21s steps(15) infinite;
            width: calc(100% + 18px);
            background-color: rgb(23, 22, 21);
        }  
        
        @keyframes digitando{
            10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
                width: 0;
            }
            5%,20%,25%,40%,45%,60%,65%,80%,85%{
                width: calc(100% + 18px);
            }
        }

        @keyframes cursor{
            0%{
                border-left: 2px solid rgb(23, 22, 21);
            }
        }
        @keyframes palavras {
            0%,20%{
                content: " já Inovou?";
            }
            21%,40%{
                content: " deseja crescer?";
            }
            41%,60%{
                content: "quer continuar vencendo?";
                font-size: 4.8rem;
                
            }
            61%,80%{
                content: " Acredita no seu sonho?";
            }
            81%, 100%{
                content: " vamos fazer isto juntos!";
                font-size: 5rem;
            }
        } 

        
        
        
    .habilidadesBody{
        height: 60svh;
        width: 80vw;/* 
        background-color: rgba(240, 248, 255, 0.084);
        backdrop-filter: blur(20px); */
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        border-radius: 20px;
        z-index: 0;
    }

        .habilidadesCard{
        }
        
        .habilidadesCard h2{
            color: black;
            font-size: 2rem;
            text-align: center;
        }
        .habilidadesCard p{
            color: black;
            font-size: 2rem;
            text-align: center;
            margin: 5px;
        } 
    /* /////////// Zoom das tecnologias //////////// */
        
         
          .bigHabilidadeCard {
            margin: 2.5px;
            border: 1px solid black;
            width: 160px;
            height: 20px;
            border-radius: 20px;
            text-align: center;
            cursor: pointer;
            position: relative;
            transition: all 1000ms ease-out;
        }
            .bigHabilidadeCard p {
            margin: 0;
            font-size: 1.5rem;
            text-align: center;
            }
            
            .bigHabilidadeCard.expanded {
            z-index: 2;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 200px;
            height: 200px;
            backdrop-filter: blur(10px);
            }
            
            .bigHabilidadeCard.expanded p.description {
            display: block;
            animation: descricao 1s ease-in-out both;
            }
        .habilidadeCard {
        margin: 2.5px;
        border: 1px solid black;
        width: 100px;
        height: 20px;
        border-radius: 20px;
        text-align: center;
        cursor: pointer;
        position: relative;
        transition: all 1000ms ease-out;
        }
        
        .habilidadeCard p {
        margin: 0;
        font-size: 1.5rem;
        text-align: center;
        }
        
        .habilidadeCard.expanded {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 200px;
        backdrop-filter: blur(10px);
        }
        
        .habilidadeCard.expanded p.description {
        display: block;
        animation: descricao 1s ease-in-out both;
        }

        @keyframes descricao{
            0%{
                opacity: 0;
                margin-top: 0px;
            }
            100%{
                opacity: 1;
                margin-top: 80px;
            }
        }
          
    /* //////////// PROJETOS //////////// */

        #Projetos{
            margin-top: 10svh;
            margin-bottom: 20svh;
            height: 65svh;
            border-radius: 20px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            background-size: cover;
            background-position: center;
            width: 80%;
        }
        .classe1{
            background-image: url("../contents/images/conhecimentos/teste6.jpg");
            transition: background-image 0.5s ease;
            
        }
        .classe2{
            background-image: url("../contents/images/conhecimentos/teste12.jpg");
            transition: background-image 0.5s ease;
        }
        .classe3{
            background-image: url("../contents/images/conhecimentos/teste8.jpg");
            transition: background-image 0.5s ease;
        }
        .classe4{
            background-image: url("../contents/images/conhecimentos/teste9.jpg");
            transition: background-image 0.5s ease;
        }
        .classe5{
            background-image: url("../contents/images/conhecimentos/teste10.jpg");
            transition: background-image 0.5s ease;
            
        }
            .projetosSection1{
              width: 55%;
              height: 65svh;
              margin: 0 1.9vw;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-around;
            }
               .projetosSection1 p{
                font-size: 2rem;
                font-weight: lighter;
                text-align: justify;

               }
               .projetosSection2Background{
                width: 40%;
                height: 65svh;
                max-height: 65svh;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;

               }
               .projetosSection2 {
                width: 100%;
                height: 65svh;
                max-height: 65svh;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                overflow-y: scroll;
               }
               .projetosSection2::-webkit-scrollbar{
                   display: none;
               }
                   .bkgERP{
                        background-image: url("../contents/images/projetos/ERP.PNG");
                        background-Size: contain;
                        background-Position: center;
                        background-repeat: no-repeat;
                        background-color: rgb(1, 1, 63);
                        margin-top: 20px;
                        width: 60%;
                        height: 20svh;
                        min-height: 20svh;
                        border: 1px solid black;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                   }
                        .bkgERP h2{
                            color: white;
                            font-size: 1.9rem;
                            position: absolute;
                            pointer-events: none;
                        }
                   .bkgBrasilLuvas{
                        margin-top: 20px;
                        width:   60%;
                        height: 20svh;
                        min-height: 20svh;
                        border: 1px solid black;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        background-image: url("../contents/images/projetos/brasilLuvas.PNG");
                        background-Size: contain;
                        background-Position: center;
                        background-repeat: no-repeat;
                        background-color: rgb(1, 1, 63);
                        backdrop-filter: blur(20px);
                   }
                        .bkgBrasilLuvas h2{
                            color: black;
                            font-size: 1.9rem;
                            position: absolute;
                            pointer-events: none;
                        }
                   .filtro20px{
                        backdrop-filter: blur(10px);
                        width: 100%;
                        height: 20svh;
                        min-height: 20svh;
                        opacity: 0;
                        transition: .3s ease-in-out;
                   }

                   .filtro20px:hover{
                       opacity: 1;
                   }
       
    .redesSociaisBody{
        border: 1px solid white;
        border-radius: 20px;
        height: 20svh;
        width: 20%;
    }
        .redesSociaisBody p{
            color: white; 
            font-size: 2rem;
            text-align: center;
        }
        .redesSociaisBody div{
            display: flex;
            justify-content: space-around;
            height: 16svh;
            align-items: center;
        }









/* /////////////////// MEDIA QUERY ///////////////*/
@media (max-width: 1250px){
    .textoAnimado1Body {
        top: 28svh;
        left: 0;
        right: 0;
        width: 95%;
        height: 10svh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .textoAnimado1Body span{
        font-size: 3rem;
    }
    
    .textoAnimado1Body span::before{
        
    }
    .textoAnimado1Body span::after{
        
        height: 6rem;
    }
    .sobreMinBody{
        margin-top: 35svh;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .habilidadesBody{
        justify-content: space-between;
        width: 100%;
        border-radius: 0;
    }
    .habilidadesBody{
        width: 100%;
    }

    #Projetos{
        width: 100%;
        height: 80svh;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .projetosSection1{
        width: 100%;
        height: 40svh;
    }
        .projetosSection1 p{
            font-size: 1.5rem;
        }
        .projetosSection2Background{
            width: 40%;
            height: 65svh;
            max-height: 65svh;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;

           }
    .projetosSection2Background{
        overflow-x: scroll;
        height: 40svh;
        width: 100%;
        flex-direction: row;
    }
    
    .projetosSection2{
        height: 40svh;
        max-height: 40svh;
        width: 200%;
        flex-direction: row;
        overflow: scroll;
        justify-content: flex-start;
        position: relative;
    }
    
    .bkgERP, .bkgBrasilLuvas{
        flex: 0 0 auto;
        margin: 0 20px;
        width: 50vw;
    }

}

@media (max-width: 1036px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 780px) {
    
    .headerCard{
        width: 98%;
    }
}

@media (max-width: 550px) {
  .headerCard ul{
    display: none;
  }
  .menuBtn{
    position: absolute;
    right: 40px;
    display: block  ;
    width: 30px;
    height: 30px;
    color: white;
  }
  .closeMenuBtn{
    position: absolute;
    display: block  ;
    right: 40px;
    margin-top: -90svh;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 15px;
    color: white;
    font-size: 3rem;
    text-align: center;
  }
  .menuMobileBody{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 200svh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    z-index: 10;
  }
  .menuMobileBody ul{
    position: absolute;
    display: block;
    width: 40%;
    height: 50svh;
    z-index: 11;
  }
  .menuMobileBody h2 {
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    color: black;
    z-index: 12;
  }
}


    
